#version=CentOS
# System authorization information
install
url --url=http://mirror.centos.org/centos/$releasever/os/$basearch/
text
#poweroff
reboot
auth --enableshadow --passalgo=sha512
firstboot --disabled
# Run the Setup Agent on first boot
firstboot --disabled
ignoredisk --only-use=sda
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

network --device=eth0 --bootproto=dhcp --onboot=yes --activate

repo --name="CentOS" --baseurl=http://mirror.centos.org/centos/$releasever/os/$basearch/ --cost=100
repo --name="CentOS" --baseurl=http://mirror.centos.org/centos/$releasever/updates/$basearch/ --cost=100

# Root password
rootpw centos
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Vilnius --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
#clear Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

%packages
@^minimal
@core
kexec-tools
bash-completion
vim
wget
curl

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
%post --log=/var/log/ks.post02.log
#!/bin/bash
set -x

#Install Epel
/usr/bin/yum install -y epel-release

#Security updates
echo "Updating packages"
/usr/bin/yum update -y

#Clean cache
/usr/bin/yum clean all

%end